*{
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400, 700;
    background-color: white;
}
.row-1{
    padding: 0 70px;
    flex-wrap: wrap;
}
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .row-1{
        padding: 0;
    }
}
.header{
   border-bottom: 1px solid rgb(197, 197, 197);
    line-height: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}
.header .nav-con{
    display: flex;
    flex-wrap: wrap;
}
.nav-con .logo{
    padding: 10px 0;
}
.nav-con .navbar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 9px 0;
    margin: 0 0 0 30px;
}

.header .nav-con .navbar li{
    padding: 10px 10px;
    transition: transform 0.3s ease-out;
}
.header .nav-con .navbar li:hover{
    transform: translateY(8px);
}
.nav-con .navbar li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(165, 163, 163);
    font-family: Arial, Helvetica, sans-serif;
    
}
.nav-con .navbar li a:hover{
    color: rgb(241, 117, 0);
    
}
.header .otm{
    display: flex;
    flex-wrap: wrap;
}
.otm .cart{
    padding: 14px;
}
.otm .cart:hover{
    border-radius: 50%;
    background-color: rgb(241, 117, 0);
}
.otm .avartar{
    height: 50px;
    margin-left: 20px;
    
}
.otm .avartar img{
    height: inherit;
}
@media only screen and (min-width: 699px) and (max-width: 819px) {
    .row-1{
        padding: 0;
    }
}
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .header{
        flex-direction: column;
    }
}
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .header{
        display: none;
    }
}
/* small screen */
.header-small{
   border-bottom: 1px solid rgb(197, 197, 197);
    line-height: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}
.header-small .nav-con{
    display: flex;
    flex-wrap: wrap;
}
.overlay{
    height: 80%;
    width: 0%;
    background-color: rgb(241, 117, 0);
    z-index: 1;
    transition: 0.5s;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
}
.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;

}
.overlay-content li{
    padding: 16px 8px;
    text-align: center;
}
.overlay a{
    text-decoration: none;
    color: white;
}
.overlay a:hover, .overlay a:focus{
    color: black;
}
.closebtn{
    position: absolute;
    top: 40px;
    right: 30px;
    color: white;
    font-size: 40px;
}



.header-small .icon-menu{
    padding: 21px 16px;
}
.nav-con .logo{
    padding: 10px 0;
}
 .nav-con .navbar li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(165, 163, 163);
    font-family: Arial, Helvetica, sans-serif;
}
.header-small .otm{
    display: flex;
    flex-wrap: wrap;
}
.otm .cart{
    padding: 14px;
}
.otm .avartar{
    height: 50px;
    margin-left: 8px;
}
.otm .avartar img{
    height: inherit;
}
@media only screen and (min-width: 600px) {
    .header-small{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .header-small{
        display: flex;
    }
}
/* small screen ends */
.row-2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
}
@media only screen and (min-width: 699px) and (max-width: 819px) {
    .row-2{
        padding: 0;
    }
}
@media only screen and (max-width: 700px) {
    .row-2{
        flex-direction: column;
        padding: 0;
    }
}
.main-1{
    flex: 50%;
    flex-wrap: wrap;
    padding: 70px;
    position: relative;
}
@media only screen and (min-width: 700px) and (max-width: 890px) {
    .main-1{
        padding: 50px 20px 0 20px;
    }
} 
@media only screen and (max-width: 700px) {
    .main-1{
        padding: 0;
    }
}
.slide{
    display: none;
}
.slide img{
    max-width: 100%;
    border-radius: 10px;
    vertical-align: middle;
}
.cursor{
    cursor: pointer;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    margin-top: -25px;
    padding: 16px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    user-select: none;
}
.next{
    right: 70px;
}
.prev:hover, .next:hover{
    background-color: black;
}
.numberText{
    position: absolute;
    padding: 5px 12px;
    color: white;
    font-size: 12px;
} 
.thumbnail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
}
.column .demo{
    opacity: 0.6;
}
.column .demo:hover{
    opacity: 1;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
   .next{
        right: 0;
    }
}
@media only screen and (min-width: 700px) and (max-width: 890px) {
    .next{
         right: 20px;
     }
 }
 @media only screen and (min-width: 890px) and (max-width: 989px) {
    .prev, .next{
        top: 30%;
        
    }
 } 
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .thumbnail{
        display: none;
    }
    .slide img{
        border-radius: 0;
    }
}
.thumbnail div{
    flex: 20%; 
    flex-shrink: 0;
    border-radius: 10px; 
}
.thumbnail div img{
    max-width: 100%;
    border-radius: 10px;
}
.main-2{
    flex: 50%;
    flex-wrap: wrap;
    padding: 150px 60px 0 60px;
}
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .main-2{
        padding: 10px 20px 0 20px;
    }
    .main-2 h4{
        font-size: 13px;
    }
    .main-2 h1{
        font-size: 25px;
    }
}
@media only screen and (min-width: 699px) and (max-width: 1300px) {
    .main-2{
        padding: 80px 18px 0 18px;
    }
}
.main-2 h4{
    color: rgb(241, 117, 0);
    margin: 0;
}
.main-2 h1{
    font-size: 50px;
}
.main-2 p{
    color: rgb(165, 163, 163);
    font-size: 18px;
}
.dollar{
    display: flex;;
    flex-wrap: wrap;
    padding: 0;
}
@media only screen and (max-width: 700px) {
    .main-2 h1{
        font-size: 40px;
    }
    .main-2 .dollar{
        display: none;
    }
}
 .head{
    margin: 9px 0 0 0;
    font-weight: bolder;
    font-size: 16px;
}
.dollar .head-2{
    background-color: rgb(241, 241, 241);
    padding: 3px 3px 0 3px;
    margin: 9px 0 0 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(230, 150, 3);
}
.main-2 .discount{
    margin: 5px 0 0 0;
    color: rgb(165, 163, 163);
    font-size: 10px;
}
.dollar-small{
    display: flex;;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px ;
    justify-content: space-between;
}
.small-1{
    display: flex;
}
.dollar-small .head-3{
    margin: 9px 0 0 0;
    font-weight: bolder;
    font-size: 28px;
}
.dollar-small .head-4{
    background-color: rgb(241, 241, 241);
    padding: 5px 3px 0 3px;
    margin: 9px 0 0 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(230, 150, 3);
}
.dollar-small .discount-1{
    margin: 9px 0 0 0;
    color: rgb(165, 163, 163);
    font-size: 18px;
    padding: 5px 3px 0 3px;
}
@media only screen and (min-width: 700px) {
    .main-2 .dollar-small{
        display: none;
    }
}

@media only screen and (min-width: 100px) and (max-width: 700px) {
    .main-2 .discount{
        display: none;
    }
}
.main-2 .next-div{
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}
.next-div .next-con{
    flex: 30%;
    display: flex;
    margin-right: 8px;
   background-color: rgb(224, 223, 223);
   border-radius: 4px;
}
@media only screen and (max-width: 700px) {
    .next-div .next-con{
        flex: 100%;
        margin-right: 0;
    }
    .next-div .add-to-cart{
        flex: 100%;
        padding: 10px 0;
        margin-top: 13px;
        margin-bottom: 80px;
    }
}
.next-div .next-con div{
    flex: 20%;
    max-width: 100%;
    height: auto;
    text-align: center;
    
}
.first-child img{
    cursor: pointer;
    padding: 18px 20px;
}
.first-child img:hover, .second-child img:hover{
    opacity: 0.4;
}
.second-child img{
    cursor: pointer;
    padding: 14px 20px;
}
.next-div .next-con div h5{
    margin: 0;
    padding: 15px 0;
}
.next-div .add-to-cart{
    border-radius: 6px;
    flex: 50%;
    background-color: rgb(241, 117, 0);
}
.next-div .add-to-cart:hover{
    background-color: rgb(246, 153, 65);
}
.cart-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}
.cart-1 img{
    height: 20px;
    color: white;
    filter: brightness(0%) invert(100%);
}
.cart-1 h4{
    margin: 0 0 0 12px;
    font-size: 17px;
}


